<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954144470588-p856gafbl7uk9t94604shjm5l2jn9oqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954144470588-p856gafbl7uk9t94604shjm5l2jn9oqm</string>
	<key>API_KEY</key>
	<string>AIzaSyBy6nHDG-9HCuWRe_IKq4_u2XdD-Xvry88</string>
	<key>GCM_SENDER_ID</key>
	<string>954144470588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rndrmapp</string>
	<key>PROJECT_ID</key>
	<string>test-rn-firebase-8339e</string>
	<key>STORAGE_BUCKET</key>
	<string>test-rn-firebase-8339e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954144470588:ios:1dc2684f997cf204853539</string>
</dict>
</plist>